# This is Git's per-user configuration file.
[user]
	name = Théo Zimmermann
	email = theo.zimmermann@univ-paris-diderot.fr
[push]
	default = current
[remote]
	pushdefault = origin
[credential]
	helper = cache --timeout=3600
[alias]
	fix = commit -a --amend --no-edit
        pull-request = "!f() { dir="`git rev-parse --show-toplevel`-pr-$1"; git fetch -fu ${2:-$(git remote | grep ^upstream || echo origin)} refs/pull/$1/head && git worktree add --detach $dir FETCH_HEAD && cd $dir && bash; }; f"
