# This is Git's per-user configuration file.
[user]
        name = Théo Zimmermann
        email = theo.zimmermann@univ-paris-diderot.fr
        signingkey = F1744A0942F536C7
[log]
        mailmap = true
[pull]
        ff = only
[push]
        default = current
[remote]
        pushdefault = origin
[credential]
        helper = cache --timeout=3600
[alias]
        fix = commit -a --amend --no-edit
        newbranch = checkout -b
        clone-fork = ! ~/dotfiles/git-clone-fork.sh
        delete = "! f() { git branch -d $1 && git push origin -d $1; }; f"
        delete-hard = "! f() { git branch -D $1 && git push origin -d $1; }; f"
