[Desktop Entry]
Name=CoqIDE 8.15
Exec=nix-shell -p coq_8_15 coqPackages_8_15.coqide --run "coqide -unicode-bindings /home/theo/dotfiles/empty-file"
Terminal=false
Type=Application
